@{
    Layout = "_Layout";
    ViewData["Title"] = "Admins";
}
<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="~/css/table.css">
    </head>
    <body>
    <div class="searchbar2">
        <input type="text" name="" id="" placeholder="Search">
        <div class="searchbtn">
            <img src="~/Images/search.png" class="icn srchicn" alt="search-button">
        </div>
    </div>

    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>Admins data</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="~/Images/search.png" alt="">
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Admins <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Email <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Created at <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Status <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 1 </td>
                        <td> <img src="~/Images/admin.png" alt="">Cristiano Ronaldo</td>
                        <td> Lissabon </td>
                        <td> 17 Dec, 2022 </td>
                        <td>
                            <p class="status active">Active</p>
                        </td>
                        <td> 
                            <button class="icon-edit">
                                <img src="~/Images/edit.png" />
                            </button> 
                            <button class="icon-edit delete">
                                <img src="~/Images/trash.jpg" />
                            </button></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <script src="~/js/table.js"></script>
    </body>
</html>
