@model AdminViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Profile";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="~/css/Card.css">
</head>
<body>
    @{
        string[] parts = Model.FullName.Split(' ');
        var firstName = Model.FullName;
        var lastName = Model.FullName;

        if (parts.Length == 2)
        {
            firstName = parts[0];
            lastName = parts[1];
        }
    }
   <div class="d-center">
        <div class="user-card">
            <div class="image-block">
                <img src="@Url.Action("GetImage", "Media", new { fileName = Model.ImageUrl })" class="user-image" alt="Image">
            </div>
            <div class="user-data">
                <h3>FirstName:@firstName</h3>
                <h3>LastName:@lastName</h3>
                <h3>Email:@Model.Email</h3>
                <h3>Role:@Model.Role</h3>
                <h3>Status:@Model.Status</h3>
            </div>
        </div>
   </div>
</body>
</html>