<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cybersec.Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>

    <!-- for header part -->
    <header>
        <div class="logosec">
            <div class="logo">Cybersec</div>
            <img src="~/Images/Hamburger.png" class="icn menuicn" id="menuicn" alt="menu-icon">
        </div>

        <div class="searchbar">
            <input type="text" placeholder="Search">
            <div class="searchbtn">
                <img src="~/Images/search.png" class="icn srchicn" alt="search-icon">
            </div>
        </div>

        <div class="message">
            <div class="circle"></div>
            <img src="~/Images/notification.png" class="icn" alt="">
            <div class="dp">
                <img src="~/Images/avatar.png" class="dpicn" alt="dp">
            </div>
        </div>
    </header>

    <div class="main-container">
        <div class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options">
                    <a asp-controller="Home" asp-action="Index" class="nav-option option1">
                        <img src="~/Images/Dashboard.png" class="nav-img" alt="dashboard">
                        <div>Dashboard</div>
                    </a>

                    <a asp-controller="Home" asp-action="Articles" class="option2 nav-option">
                        <img src="~/Images/article.png" class="nav-img" alt="articles">
                        <div>Articles</div>
                    </a>

                    <a asp-controller="Home" asp-action="Users" class="nav-option option3">
                        <img src="~/Images/admin.png" class="nav-img" alt="users">
                        <div>Users</div>
                    </a>

                    <a asp-controller="Home" asp-action="Admins" class="nav-option option4">
                        <img src="~/Images/admin.png" class="nav-img" alt="admins">
                        <div>Admins</div>
                    </a>

                    <a asp-controller="Home" asp-action="Profile" class="nav-option option5">
                        <img src="~/Images/profile.png" class="nav-img" alt="profile">
                        <div>Profile</div>
                    </a>

                    <a asp-controller="Home" asp-action="Settings" class="nav-option option6">
                        <img src="~/Images/settings.png" class="nav-img" alt="settings">
                        <div>Settings</div>
                    </a>

                    <div class="nav-option logout">
                        <img src="~/Images/logout.png" class="nav-img" alt="logout">
                        <div>Logout</div>
                    </div>
                </div>
            </nav>
        </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
