@model UserPostModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "AddNewUser";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="~/css/AddCart.css">
</head>
<body>
    <div class="card-container">
        <h2>New User</h2>

        <div class="form-container">
            <form asp-action="AddNewUser" asp-controller="User" method="Post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="FirstName">Full Name</label>
                    <input asp-for="FirstName" type="text" id="fullname" required>
                    <span asp-validation-for="FirstName" class="validation"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName">Full Name</label>
                    <input asp-for="LastName" type="text" id="fullname" required>
                    <span asp-validation-for="LastName" class="validation"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" type="text" id="email" required>
                    <span asp-validation-for="Email" class="validation"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="text" id="password" required>
                    <span asp-validation-for="Password"></span>
                </div>
                <button type="submit">Add User</button>
            </form>
        </div>
    </div>
</body>
</html>