@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true">
</head>
<body>
    <div class="wrapper">
        <div class="form-wrapper sign-in">

            <form asp-controller="Access" asp-action="ExistEmail" method="post" enctype="multipart/form-data">
                <h2>Email</h2>
                <div class="input-group">
                    <input name="email" type="text" required>
                    <label >Email</label>

                </div>
               
                <button type="submit">Submit</button>
                
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}
