@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true">
</head>
<body>

    <div class="wrapper">
        <div class="form-wrapper sign-up">
            <form action="">
                <h2>Register</h2>
                <div class="input-group">
                    <input type="text" required>
                    <label for="">FirstName</label>
                </div>
                <div class="input-group">
                    <input type="text" required>
                    <label for="">LastName</label>
                </div>
                 <div class="input-group">
                    <input type="text" required>
                    <label for="">Email</label>
                </div>
                <div class="input-group">
                    <input type="password" required>
                    <label for="">Password</label>
                </div>
                <div class="remember">
                    <label><input type="checkbox"> I agree to the terms and conditions</label>
                </div>
                <button type="submit">Register</button>
                <div class="signUp-link">
                    <p>Already have an account? <a href="#" class="signInBtn-link">LogIn now</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}