@using Cybersec.Service.DTOs.Auth
@model EmailCodeModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true">
</head>
<body>
    <div class="wrapper">
        <div class="form-wrapper sign-in">
            <form asp-controller="access" asp-action="Verification" method="post" enctype="multipart/form-data">
                <h2>Verification</h2>
                <div class="input-group">
                    <input asp-for="Email" id="emailInput" readonly>
                    <label asp-for="Email" id="label">Email</label>
                    <span asp-validation-for="Email" class="validation"></span>
                </div>
                <div class="input-group">
                    <input asp-for="Code" type="number" required>
                    <label asp-for="Code">Verification Code</label>
                    <span asp-validation-for="Code" class="validation"></span>
                </div>
               
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <script>
        let email = localStorage.getItem("email");

        document.getElementById('emailInput').value = email;
    </script>
</body>
</html>