
body {
    background-color: black;
}

.navbar {
    background-color: #1a1a1a;
}

.nav-link {
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.nav-item a:hover{
    color:lawngreen !important
}

.navbar-brand {
    font-weight: bolder;
    font-size: 25px;
}

ul {
    list-style: none;
}

.card a {
    color: inherit;
    text-decoration: none;
}

.card h3:hover {
    color: blue;
}

.custom-card {
    transition: all 0.2s ease;
}

    .custom-card:hover {
        transform: scale(1.03);
        box-shadow: lightgray 2px 5px 5px 2px;
    }

.custom-img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.custom-img-right {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.detail {
    color: white;
}

.btn {
    border: 2px solid silver;
    background-color: white;
}

body .footer[b-u144jrqpik] {
    position: relative;
}
