@using Cybersec.Service.DTOs.Comment
@model CommentPostModel

<form class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Write..." aria-label="Recipient's username" aria-describedby="basic-addon2">
    <button class="input-group-text" id="basic-addon2">Send</button>
</form>